.single-movie {
    border: 1px solid black;
}

footer {
    font-size: 2rem;
    padding: 40px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    /*color: white;*/
}